@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth select-none;
  }
  body {
    @apply font-primary bg-blackSecondary text-white;
  }
  .page-container {
    @apply max-w-[1170px] px-[15px] mx-auto w-full;
  }
  .img-cover {
    @apply w-full h-full object-cover transition-all duration-500 group-hover:scale-105 rounded-md;
  }
  .loadingCircle {
    @apply w-[100px] h-[100px] animate-spin rounded-full border-t-[10px] border-t-transparent border-[10px] border-solid border-primary;
  }
  .fixedBg {
    @apply bg-center bg-cover bg-no-repeat min-h-screen;
  }

  @layer components {
    .user-triangle::before {
      content: "";
      position: absolute;
      top: -15px;
      right: 35%;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #242424;
      z-index: -1;
    }
    .links {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      position: relative;
      transition: 0.2s linear;
      @apply text-greyPrimary;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        left: 0;
        right: 0;
        bottom: -3px;
        transition: all 0.4s linear;
        @apply bg-primary;
      }
      &:hover::before {
        width: 100%;
      }
      &:hover {
        @apply text-white;
      }
    }
    .btn-shinny-1 {
      position: relative;
      isolation: isolate;
      overflow: hidden;
      user-select: none;
      display: inline-block;
      &:hover::before {
        left: auto;
        right: 0;
        width: 100%;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        height: 100%;
        width: 0;
        background-color: #fff;
        opacity: 0.1;
        z-index: -1;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
    .btn-shinny-2 {
      background: transparent;
      overflow: hidden;
      position: relative;
      transition: all 0.5s ease;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.5s;
        filter: blur(30px);
        transform: translateX(-130px) skewX(-15deg);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(30px);
        transform: translateX(-100px) skewX(-15deg);
      }
      &:hover {
        background-color: black;
        color: white;
        &::before {
          transform: translateX(300px) skewX(-15deg);
          opacity: 0.6;
          transition: all linear 0.5s;
        }
        &::after {
          transform: translateX(300px) skewX(-15deg);
          opacity: 0.6;
          transition: all linear 0.5s;
        }
      }
    }
    .btn-shinny-3 {
      background: transparent;
      overflow: hidden;
      position: relative;
      transition: all 0.5s ease;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.5s;
        filter: blur(30px);
        transform: translateX(-130px) skewX(-15deg);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(30px);
        transform: translateX(-100px) skewX(-15deg);
      }
      &:hover {
        background-color: #f68422;
        color: black;
        &::before {
          transform: translateX(300px) skewX(-15deg);
          opacity: 0.6;
          transition: all linear 0.5s;
        }
        &::after {
          transform: translateX(300px) skewX(-15deg);
          opacity: 0.6;
          transition: all linear 0.5s;
        }
      }
    }
  }
}

/* =================================================================================== */
/* OTHER STYLES */
.stroke-title {
  background: linear-gradient(to right, black 15%, transparent 65%, black 20%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* add text-stroke */
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;
}
.card-img {
  margin-top: -100px;
}
.card-client {
  backdrop-filter: blur(30px);
}
.bill-board::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ============================================== */
// .product-wrapper:hover .product-card {
//   filter: blur(5px);
//   -webkit-filter: blur(5px);
//   transition: all 0.2s linear;
// }
// .product-wrapper .product-card:hover {
//   filter: blur(0);
//   -webkit-filter: blur(0);
//   transition: all 0.2s linear;
// }
